*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body style section  */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    color: black;
    height: 100vh;
    width: 100vw;
}
/* Container style section  */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Heading and button styles  */
#heading-text,#change-btn{
    text-align: center;
    align-items: center;
}
/* Heading style  */
#heading-text{
    padding-bottom: 50px;
}

